<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058064639101-i640fpvcfpuuqefrdl5gdjulemp0vsq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058064639101-i640fpvcfpuuqefrdl5gdjulemp0vsq9</string>
	<key>API_KEY</key>
	<string>AIzaSyCUdfGmPvHaCEzfi97Cs9TScHTd3Bxea9M</string>
	<key>GCM_SENDER_ID</key>
	<string>1058064639101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wilenuDev.ShopApp---Firebase</string>
	<key>PROJECT_ID</key>
	<string>shop-app-firebase-f92de</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-firebase-f92de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058064639101:ios:c5edabbe4dc75a122bbd14</string>
</dict>
</plist>